---
title: Оливер Сакс. Музыкофилия
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: Saks
    ulr: saks/muzykofiliya
    title: "{{title}}"
pagination:
  data: collections.muzykofiliya
  size: 10
---

{% include "book-page-content.njk" %}