<nav>
      <div>
        <span>previous</span>
        <a href="#">Критика ослабляет самоконтроль</a>
      </div>
      <div>
        <span>next</span>
        <a href="#">Вселенная атомов и атом во вселенной</a>
      </div>
    </nav>