    <nav>
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}">prev</a>
      {% else %}
        <a href="#" class="disabled">prev</a>
      {% endif %}
      {%- for pageEntry in pagination.pages %}
        {% if page.url == pagination.hrefs[ loop.index0 ] %}
          <span>Page {{ loop.index }}</span>
        {% endif %}
      {%- endfor %}
      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}">next</a>
      {% else %}
        <a href="#" class="disabled">next</a>
      {% endif %}
    </nav>