    <nav>
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}">&#129136;</a>
      {% else %}
        <a href="#" class="disabled">&#129136;</a>
      {% endif %}
      {%- for pageEntry in pagination.pages %}
        {% if page.url == pagination.hrefs[ loop.index0 ] %}
          <span>Page {{ loop.index }}</span>
        {% endif %}
      {%- endfor %}
      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}">&#129138;</a>
      {% else %}
        <a href="#" class="disabled">&#129138;</a>
      {% endif %}
    </nav>