<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Тезисы из научно-популярных книг" />
    <link
      rel="prefetch"
      href="fonts/NotoSans-Regular.woff2"
      crossorigin
      as="font"
      type="font/woff2"
    />
    <link
      rel="prefetch"
      href="fonts/NotoSerif-Regular.woff2"
      crossorigin
      as="font"
      type="font/woff2"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="images/favicon-16x16.png"
    />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Тезисы из научно-популярных книг</title>
  </head>
  <body class="body">
    <section class="sidebar">
      <header id="header" class="header header_bottom-margin">
        <div class="header__logo-container">
          <a class="header__logo" href="/"
            ><img src="images/logo.jpg" width="84" height="84" alt="Logo"
          /></a>
          <h1 class="header__title">Тезисы из научно-популярных книг</h1>
          <small class="header__epigraph">Примат Сути над видимостью…</small>
        </div>
        <button
          id="button"
          class="header__button header__button_center"
          title="Меню"
        >
          ✕
        </button>
      </header>
      <nav id="menu" class="menu">
        <h2 class="title">Прочитанные книги</h2>
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#main"
              >Брюс Альбертс. Основы молекулярной биологии клетки</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/books/books-about-war/"
              >Книги о войне</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/books/changizi/vision-revolution/"
              >Марк Чангизи. Революция в зрении</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/books/dolnik/biosfera/"
              >Виктор Дольник. Непослушное дитя биосферы</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/books/everly/stress-nature/"
              >Эверли. Розенфельд. Стресс. Природа и лечение</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/books/feinman/nauka-ne-nauka/"
              >Ричард Фейнман. Наука, не-наука и все-все-все</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/books/glazer/city-triumph/"
              >Эдвард Глейзер. Триумф города</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/books/haffington/son/"
              >Арианна Хаффингтон. Революция сна</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/books/ibuka/pozdno/"
              >Масару Ибука. После трёх уже поздно</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__link"
              href="/books/kazantseva/who-would-have-thought/"
              >Ася Казанцева. Кто бы мог подумать!</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/books/krez/lang-for-adult/"
              >Крез. Иностранный для взрослых</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/books/lorenz/king-solomon-ring/"
              >Конрад Лоренц. Кольцо царя Соломона</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/books/markoff/roboticus/"
              >Джон Маркофф. Homo Roboticus? Люди и машины в поисках
              взаимопонимания</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/books/mcgonigal/sila-voli/"
              >Келли Макгонигал. Сила воли: Как развить и укрепить</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/books/nevzorov/oskorblenie/"
              >Александр Невзоров. Искусство оскорблять</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/books/rama/tale-brain/"
              >Вилейанур Рамачандран. Мозг рассказывает. Что делает нас
              людьми</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/books/sagan/milliardy/"
              >Карл Саган. Миллиарды и миллиарды</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/books/saks/muzykofiliya/"
              >Оливер Сакс. Музыкофилия</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/books/sayits/war-sindrome/"
              >Кевин Сайтс. Синдром войны</a
            >
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/books/seung/connectome/"
              >Себастьян Сеунг. Коннектом. Как мозг делает нас тем, что мы
              есть</a
            >
          </li>
        </ul>
      </nav>
      <nav id="tags" class="tags">
        <h3 class="title">ТЕГИ</h3>
        <div class="tags__container">
          <a class="tags__link tags__link-sm" href="/categories/ethology"
            >ethology</a
          >
          <a class="tags__link tags__link-sm" href="/categories/neurophysiology"
            >neurophysiology</a
          >
          <a class="tags__link tags__link-m" href="/categories/urbanism"
            >urbanism</a
          >
          <a class="tags__link tags__link-l" href="/categories/psychology"
            >psychology</a
          >
          <a
            class="tags__link tags__link-sm"
            href="/categories/mollecular-biology"
            >mollecular-biology</a
          >
          <a class="tags__link tags__link-sm" href="/categories/journalism"
            >journalism</a
          >
          <a class="tags__link tags__link-l" href="/categories/war">war</a>
          <a class="tags__link tags__link-sm" href="/categories/phisiology"
            >phisiology</a
          >
          <a class="tags__link tags__link-l" href="/categories/robotics"
            >robotics</a
          >
          <a class="tags__link tags__link-sm" href="/categories/sociology"
            >sociology</a
          >
          <a class="tags__link tags__link-m" href="/categories/somnology"
            >somnology</a
          >
          <a class="tags__link tags__link-sm" href="/categories/linguistics"
            >linguistics</a
          >
          <a class="tags__link tags__link-sm" href="/categories/physics"
            >physics</a
          >
          <a class="tags__link tags__link-m" href="/categories/pediatrics"
            >pediatrics</a
          >
        </div>
      </nav>
    </section>
    <main id="main" class="main">
      <h2 class="main__title">Цитаты</h2>
      <article class="post">
        <h3 class="post__title">
          <a class="post__link" href="/books/dolnik/biosfera/page-33/"
            >Речь ребенка и импринтинг родного языка</a
          >
        </h3>
        <p>
          Новорожденный слушает поток окружающей его речи. А программа прогоняет
          этот поток через аналитические структуры, обрабатывает, сортирует,
          разносит по ячейкам.
        </p>
        <p>
          Новорожденный слушает поток окружающей его речи. А программа прогоняет
          этот поток через аналитические структуры, обрабатывает, сортирует,
          разносит по ячейкам.
        </p>
        <ul>
          <li>test 1</li>
          <li>test 2</li>
          <li>test 3</li>
        </ul>
        <ol>
          <li>test 1</li>
          <li>test 2</li>
          <li>test 3</li>
        </ol>
        <p>
          Новорожденный слушает поток окружающей его речи. А программа прогоняет
          этот поток через аналитические структуры, обрабатывает, сортирует,
          разносит по ячейкам.
        </p>
        <blockquote>
          <p>
            Новорожденный слушает поток окружающей его речи. А программа
            прогоняет этот поток через аналитические структуры, обрабатывает,
            сортирует, разносит по ячейкам.
          </p>
        </blockquote>
        <footer class="post__footer">
          <div class="post__date">
            <img
              class="post__footer-img"
              src="images/calendar.svg"
              alt="date"
            />
            <time>4/12/2016, 12:00:00 AM</time>
          </div>
          <div class="post__book">
            <img class="post__footer-img" src="images/folder.svg" alt="book" />
            <a class="post__link" href="/books/dolnik/biosfera/"
              >Виктор Дольник. Непослушное дитя биосферы</a
            >
          </div>
          <div class="post__label">
            <img class="post__footer-img" src="images/label.svg" alt="label" />
            <a class="post__link" href="/categories/ethology">ethology</a>
          </div>
        </footer>
      </article>
      <!-- <article class="post">
        <h3 class="post__title">
          <a class="post__link" href="/books/dolnik/biosfera/page-33/"
            >Речь ребенка и импринтинг родного языка</a
          >
        </h3>
        <ol>
          <li>Возрастание эффективности сердечной деятельности.</li>
          <li>Улучшение легочной функции.</li>
          <li>Улучшение утилизации глюкозы крови.</li>
          <li>Уменьшение жировой ткани.</li>
          <li>Снижение артериального давления в покое.</li>
        </ol>
        <p>
          Новорожденный слушает поток окружающей его речи. А программа прогоняет
          этот поток через аналитические структуры, обрабатывает, сортирует,
          разносит по ячейкам. Голосовой аппарат в это время занят своим: он
          упражняется в произнесении врожденных наборов звуков (слогов), не
          имеющих отношения к слушаемой речи. Ребенок может произносить слоги и
          звуки, отсутствующие в родном языке. Конкретный язык использует только
          часть этого набора, причем разные языки по звуковому составу совпадают
          лишь отчасти. За один-два первых года жизни мозг усваивает принцип
          построения речи в той среде, где находится ребенок, и запоминает
          минимально необходимый набор слов. Программы импринтинга так
          совершенны, что у ребенка, оказавшегося в двуязычной среде, они
          научаются отделять один язык от другого и запечатлевают оба.
        </p>
        <ul>
          <li>Возрастание эффективности сердечной деятельности.</li>
          <li>Улучшение легочной функции.</li>
          <li>Улучшение утилизации глюкозы крови.</li>
          <li>Уменьшение жировой ткани.</li>
          <li>Снижение артериального давления в покое.</li>
        </ul>
        <p>
          Новорожденный слушает поток окружающей его речи. А программа прогоняет
          этот поток через аналитические структуры, обрабатывает, сортирует,
          разносит по ячейкам. Голосовой аппарат в это время занят своим: он
          упражняется в произнесении врожденных наборов звуков (слогов), не
          имеющих отношения к слушаемой речи. Ребенок может произносить слоги и
          звуки, отсутствующие в родном языке. Конкретный язык использует только
          часть этого набора, причем разные языки по звуковому составу совпадают
          лишь отчасти. За один-два первых года жизни мозг усваивает принцип
          построения речи в той среде, где находится ребенок, и запоминает
          минимально необходимый набор слов. Программы импринтинга так
          совершенны, что у ребенка, оказавшегося в двуязычной среде, они
          научаются отделять один язык от другого и запечатлевают оба.
        </p>
        <ol>
          <li>Возрастание эффективности сердечной деятельности.</li>
          <li>Улучшение легочной функции.</li>
          <li>Улучшение утилизации глюкозы крови.</li>
          <li>Уменьшение жировой ткани.</li>
          <li>Снижение артериального давления в покое.</li>
        </ol>
        <footer class="post__footer">
          <div class="post__date">
            <img
              class="post__footer-img"
              src="images/calendar.svg"
              alt="date"
            />
            <time>4/12/2016, 12:00:00 AM</time>
          </div>
          <div class="post__book">
            <img class="post__footer-img" src="images/folder.svg" alt="book" />
            <a class="post__link" href="/books/dolnik/biosfera/"
              >Виктор Дольник. Непослушное дитя биосферы</a
            >
          </div>
          <div class="post__label">
            <img class="post__footer-img" src="images/label.svg" alt="label" />
            <a class="post__link" href="/categories/ethology">ethology</a>
          </div>
        </footer>
      </article>
      <article class="post">
        <h3 class="post__title">
          <a class="post__link" href="/books/dolnik/biosfera/page-33/"
            >Речь ребенка и импринтинг родного языка</a
          >
        </h3>
        <p>
          Новорожденный слушает поток окружающей его речи. А программа прогоняет
          этот поток через аналитические структуры, обрабатывает, сортирует,
          разносит по ячейкам. Голосовой аппарат в это время занят своим: он
          упражняется в произнесении врожденных наборов звуков (слогов), не
          имеющих отношения к слушаемой речи. Ребенок может произносить слоги и
          звуки, отсутствующие в родном языке. Конкретный язык использует только
          часть этого набора, причем разные языки по звуковому составу совпадают
          лишь отчасти. За один-два первых года жизни мозг усваивает принцип
          построения речи в той среде, где находится ребенок, и запоминает
          минимально необходимый набор слов. Программы импринтинга так
          совершенны, что у ребенка, оказавшегося в двуязычной среде, они
          научаются отделять один язык от другого и запечатлевают оба.
        </p>
        <footer class="post__footer">
          <div class="post__date">
            <img
              class="post__footer-img"
              src="images/calendar.svg"
              alt="date"
            />
            <time>4/12/2016, 12:00:00 AM</time>
          </div>
          <div class="post__book">
            <img class="post__footer-img" src="images/folder.svg" alt="book" />
            <a class="post__link" href="/books/dolnik/biosfera/"
              >Виктор Дольник. Непослушное дитя биосферы</a
            >
          </div>
          <div class="post__label">
            <img class="post__footer-img" src="images/label.svg" alt="label" />
            <a class="post__link" href="/categories/ethology">ethology</a>
          </div>
        </footer>
      </article> -->
      <nav class="pagination">
        <a class="pagination__button pagination__button_inactive">prev</a>
        <div class="pagination__items">
          <a href="#" class="pagination__item">1</a>
          <a href="#" class="pagination__item">2</a>
          <a href="#" class="pagination__item">3</a>
          <a href="#" class="pagination__item">4</a>
          <a href="#" class="pagination__item">5</a>
          <a href="#" class="pagination__item">6</a>
          <a href="#" class="pagination__item">...</a>
        </div>
        <a class="pagination__button pagination__button_active" href="#"
          >next</a
        >
      </nav>
      <footer class="footer"><p>Proudly powered by Maskedball</p></footer>
    </main>
    <script src="scripts/scripts.js"></script>
  </body>
</html>
