---
layout: posts.njk
eleventyNavigation:
  key: Feinman
  ulr: feinman/nauka-ne-nauka
  title: "Ричард Фейнман. Наука, не-наука и все-все-все"
pagination:
  data: collections.naukaNeNauka
  size: 10
---

{% include "book-page-content.njk" %}