@import "header__button/header__button.css";
@import "header__epigraph/header__epigraph.css";
@import "header__logo/header__logo.css";
@import "header__title/header__title.css";
@import "header__epigraph/_invisible/header__epigraph_invisible.css";
@import "header__logo-container/header__logo-container.css";
@import "header__button/_center/header__button_center.css";

.header {
  display: grid;
  grid-template-columns: 2fr max-content;
  padding: var(--blocks-padding);
}
