---
layout: posts.njk
eleventyNavigation:
  key: Mcgonigal
  ulr: /mcgonigal/sila-voli
  title: "Келли Макгонигал. Сила воли: Как развить и укрепить"
pagination:
  data: collections.silaVoli
  size: 10
---

{% include "book-page-content.njk" %}