---
title: Келли Макгонигал. Сила воли
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: Mcgonigal
    ulr: /mcgonigal/sila-voli
    title: "{{title}}"
pagination:
  data: collections.silaVoli
  size: 10
---

{% include "book-page-content.njk" %}