---
title: Александр Невзоров. Искусство оскорблять
layout: posts.njk
eleventyNavigation:
  key: Nevzorov
  ulr: /nevzorov/oskorblenie
  title: "Александр Невзоров. Искусство оскорблять"
pagination:
  data: collections.oskorblenie
  size: 10
---

{% include "book-page-content.njk" %}