---
title: Александр Невзоров. Искусство оскорблять
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: Nevzorov
    ulr: /nevzorov/oskorblenie
    title: "{{title}}"
pagination:
  data: collections.oskorblenie
  size: 10
---

{% include "book-page-content.njk" %}