---
title: Книги о войне
layout: posts.njk
eleventyNavigation:
  key: AboutWar
  ulr: books-about-war
  title: "Книги о войне"
pagination:
  data: collections.aboutWar
  size: 10
---

{% include "book-page-content.njk" %}