---
title: Книги о войне
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: AboutWar
    ulr: books-about-war
    title: "{{title}}"
pagination:
  data: collections.aboutWar
  size: 10
---

{% include "book-page-content.njk" %}