---
title: Джонатан Литтел. Хомские тетради
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: Littel
    ulr: littel/homskie-tetradi
    title: "{{title}}"
pagination:
  data: collections.homskieTetradi
  size: 10
---

{% include "book-page-content.njk" %}