---
layout: posts.njk
eleventyNavigation:
  key: Changizi
  ulr: changizi/vision-revolution
  title: "Марк Чангизи. Революция в зрении"
pagination:
  data: collections.visionRevolution
  size: 10
---

{% include "book-page-content.njk" %}