---
title: Марк Чангизи. Революция в зрении
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: Changizi
    ulr: changizi/vision-revolution
    title: "{{title}}"
pagination:
  data: collections.visionRevolution
  size: 10
---

{% include "book-page-content.njk" %}