---
title: Ася Казанцева. Кто бы мог подумать!
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: Kazantseva
    ulr: /kazantseva/who-would-have-thought
    title: "{{title}}"
pagination:
  data: collections.whoWouldHaveThought
  size: 10
---

{% include "book-page-content.njk" %}