---
title: Ася Казанцева. Кто бы мог подумать!
layout: posts.njk
eleventyNavigation:
  key: Kazantseva
  ulr: /kazantseva/who-would-have-thought
  title: "Ася Казанцева. Кто бы мог подумать!"
pagination:
  data: collections.whoWouldHaveThought
  size: 10
---

{% include "book-page-content.njk" %}