---
layout: posts.njk
eleventyNavigation:
  key: Lorenz
  ulr: lorenz/king-solomon-ring
  title: "Конрад Лоренц. Кольцо царя Соломона"
pagination:
  data: collections.solomonRing
  size: 10
---

{% include "book-page-content.njk" %}