---
title: Конрад Лоренц. Кольцо царя Соломона
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: Lorenz
    ulr: lorenz/king-solomon-ring
    title: "{{title}}"
pagination:
  data: collections.solomonRing
  size: 10
---

{% include "book-page-content.njk" %}