<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Тезисы из научно-популярных книг" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Тезисы из научно-популярных книг</title>
  </head>
  <body>
    <header>
      <section>
        <h2>Logo section</h2>
        <section>
          <img src="images/logo.jpg" alt="Logo" />
          <h2>Тезисы из научно-популярных книг</h2>
          <small>Примат Сути над видимостью…</small>
        </section>
        <button name="button" id="burger-button">☰</button>
      </section>
      <nav id="main-navigation" style="display: none">
        <h3>ПРОЧИТАННЫЕ КНИГИ</h3>
        <ul>
          <li><a href="#">Александр Невзоров. Искусство оскорблять</a></li>
          <li><a href="#">Арианна Хаффингтон. Революция сна</a></li>
          <li>
            <a href="#"
              >Ася Казанцева. Кто бы мог подумать! Как мозг заставляет нас
              делать глупости</a
            >
          </li>
          <li>
            <a href="#">Брюс Альбертс. Основы молекулярной биологии клетки</a>
          </li>
          <li><a href="#">Виктор Дольник. Непослушное дитя биосферы</a></li>
          <li>
            <a href="#"
              >Вилейанур Рамачандран. Мозг рассказывает. Что делает нас
              людьми</a
            >
          </li>
          <li>
            <a href="#"
              >Джон Маркофф. Homo Roboticus? Люди и машины в поисках
              взаимопонимания</a
            >
          </li>
          <li><a href="#">Джонатан Литтел. Хомские тетради</a></li>
          <li><a href="#">Карл Саган. Миллиарды и миллиарды</a></li>
          <li><a href="#">Кевин Сайтс. Синдром войны</a></li>
          <li><a href="#">Книги</a></li>
        </ul>
        <input type="text" name="search" placeholder="Search ..." />
      </nav>
    </header>
    <main>
      <section>
        <h2>Posts section</h2>
        <article>
          <h2><a href="#">Вселенная атомов и атом во вселенной</a></h2>
          <p>… I stand at the seashore, alone, and start to think.</p>
          <p>
            There are the rushing waves<br />
            mountains of molecules<br />
            each stupidly minding its own business<br />
            trillions apart<br />
            yet forming white surf in unison
          </p>
          <p>
            Ages on ages<br />
            before any eyes could see<br />
            year after year<br />
            thunderously pounding the shore as now.<br />
            For whom, for what?<br />
            On a dead planet<br />
            with no life to entertain.
          </p>
          <p>
            Never at rest,<br />
            tortured by energy<br />
            wasted prodigiously by the Sun,<br />
            poured into space.<br />
            A mite makes the sea roar.
          </p>
          <p>
            Deep in the sea<br />
            all molecules repeat<br />
            the patterns of one another<br />
            till complex new ones are formed.<br />
            They make others like themselves<br />
            and a new dance starts.<br />
            Growing in size and complexity<br />
            living things<br />
            masses of atoms<br />
            DNA, protein<br />
            dancing a pattern ever more intricate.
          </p>
          <p>
            Out of the cradle<br />
            onto dry land<br />
            here it is<br />
            standing:<br />
            atoms with consciousness;<br />
            matter with curiosity.
          </p>
          <p>
            Stands at the sea,<br />
            wonders at wondering: I…<br />
            a universe of atoms…<br />
            an atom in the Universe.
          </p>
          <p><em>Richard Phillips Feynman</em></p>
          <footer>
            <img src="images/calendar.svg" alt="date" />
            <time>2019-04-14</time>
            <img src="images/folder.svg" alt="category" />
            <aside><a href="#">Книги</a></aside>
          </footer>
        </article>
        <article>
          <h2><a href="#">Синдром ложной надежды</a></h2>
          <p>
            С позиции счастья, упорный труд не сравним с дивной грезой. Поэтому
            не просто легче, но и гораздо увлекательнее доить обещание перемен,
            не марая ручки черной работой. Поэтому многие люди предпочитают
            сдаваться и начинать заново, снова и снова, и не ищут способов
            измениться по-настоящему. Восторг, который пьянит нас, когда мы
            фантазируем о великих свершениях, затягивает, как наркотик. Синдром
            ложной надежды особенно коварен, так как маскируется под
            самоконтроль.
          </p>
          <footer>
            <img src="images/calendar.svg" alt="date" />
            <time>2018-02-22</time>
            <img src="images/folder.svg" alt="category" />
            <aside>
              <a href="#"
                >Келли Макгонигал. Сила воли: Как развить и укрепить</a
              >
            </aside>
          </footer>
        </article>
        <article>
          <h2><a href="#">Критика ослабляет самоконтроль</a></h2>
          <p>
            Если вы думаете, что для закалки силы воли нужно быть строже к себе,
            вы не одиноки. Но вы ошибаетесь. Все исследования показывают, что
            при самокритике устойчиво снижается интерес к делу и ухудшается
            самоконтроль. Она также весьма достоверно предсказывает депрессию,
            которая иссушает силы.
          </p>
          <footer>
            <img src="images/calendar.svg" alt="date" />
            <time>2018-02-22</time>
            <img src="images/folder.svg" alt="category" />
            <aside>
              <a href="#"
                >Келли Макгонигал. Сила воли: Как развить и укрепить</a
              >
            </aside>
          </footer>
        </article>
        <article>
          <h2><a href="#">Вина – путь к соблазну</a></h2>
          <p>
            Здравый смысл подсказывает, что послание «Все порой себя балуют, не
            корите себя» позволяет людям на диете есть больше. Однако,
            избавившись от чувства вины, девушки не потакали себе на дегустации.
            Нам кажется, будто вина побуждает нас исправлять ошибки, но это лишь
            еще один путь к раскаянию, которое подталкивает нас к соблазну.
          </p>
          <footer>
            <img src="images/calendar.svg" alt="date" />
            <time>2018-02-22</time>
            <img src="images/folder.svg" alt="category" />
            <aside>
              <a href="#"
                >Келли Макгонигал. Сила воли: Как развить и укрепить</a
              >
            </aside>
          </footer>
        </article>
        <article>
          <h2><a href="#">Эффект "какого черта"</a></h2>
          <p>
            Эффект «какого черта» состоит из цикла поблажек, сожаления и еще
            больших поблажек. Ученые заметили, что многие худеющие так корят
            себя за каждый срыв за кусочек пиццы или пирожного, что им кажется,
            будто весь режим питания летит в тартарары. И вместо того чтобы
            свести ущерб к минимуму и не объедаться, они говорят:«Какого черта,
            я уже нарушил диету, могу лопать все». Не только вредная пища
            вызывает у худеющих эффект «какого черта». Если человек съедает
            больше других, он тоже может почувствовать себя виноватым и съесть
            еще больше (или объесться в одиночку).
          </p>
          <footer>
            <img src="images/calendar.svg" alt="date" />
            <time>2018-02-22</time>
            <img src="images/folder.svg" alt="category" />
            <aside>
              <a href="#"
                >Келли Макгонигал. Сила воли: Как развить и укрепить</a
              >
            </aside>
          </footer>
        </article>
        <article>
          <h2><a href="#">Нельзя доверять импульсам</a></h2>
          <p>
            …В рамках нашего эксперимента Дениз пообещала, что посетит занятие
            хотя бы раз. Она так и сделала. Это оказалось даже лучше, чем ей
            помнилось: ей не верилось, что она отговаривала себя почти три года.
            Понимая, что может опять забыть эти чувства и взяться за старое,
            после одного из уроков она надиктовала на телефон свои впечатления.
            И всякий раз, как Дениз хотелось свинтить, она слушала эту запись,
            так как знала, что в стрессе нельзя доверять импульсам.
          </p>
          <footer>
            <img src="images/calendar.svg" alt="date" />
            <time>2018-02-22</time>
            <img src="images/folder.svg" alt="category" />
            <aside>
              <a href="#"
                >Келли Макгонигал. Сила воли: Как развить и укрепить</a
              >
            </aside>
          </footer>
        </article>
        <article>
          <h2><a href="#">Анализ своих ощущений</a></h2>
          <p>
            Скорее всего, речь о том, что, как вам кажется, приносит вам радость
            или принесло бы, получи вы желаемое. Но тщательный анализ
            переживания и его последствий зачастую свидетельствует об обратном.
            В лучшем случае, поддавшись соблазну, вы избавляетесь от тревоги,
            которую вызывало обещание награды, дабы вы хотели ее сильнее. А в
            итоге вы чувствуете себя растерянными, недовольными,
            разочарованными, пристыженными, усталыми, больными или просто не
            счастливее, чем до этого. И если люди берутся внимательно
            отслеживать, что они чувствуют, когда добиваются ложных наград, чары
            испаряются.
          </p>
          <footer>
            <img src="images/calendar.svg" alt="date" />
            <time>2018-02-22</time>
            <img src="images/folder.svg" alt="category" />
            <aside>
              <a href="#"
                >Келли Макгонигал. Сила воли: Как развить и укрепить</a
              >
            </aside>
          </footer>
        </article>
      </section>
    </main>
    <nav>
      <span>1</span>
      <a href="#">&#129122;</a>
    </nav>
    <footer><small>Proudly powered by Maskedball</small></footer>
    <script>
      if (window.innerWidth > 800) {
        let nav = document.getElementById("main-navigation");
        nav.style.display = "flex";
      }

      document
        .getElementById("burger-button")
        .addEventListener("click", toggleButton);

      window.addEventListener("resize", toggleMenu);

      function toggleMenu() {
        if (window.innerWidth > 800) {
          let nav = document.getElementById("main-navigation");
          nav.style.display = "flex";
        }
      }

      function toggleButton() {
        let button = document.getElementById("burger-button");
        button.innerHTML = button.innerHTML === "✕" ? "☰" : "✕";

        let nav = document.getElementById("main-navigation");
        nav.style.display = nav.style.display === "none" ? "flex" : "none";
      }
    </script>
  </body>
</html>
