---
layout: posts.njk
eleventyNavigation:
  key: Haffington
  ulr: /haffington/sleep-revolution
  title: "Арианна Хаффингтон. Революция сна"
pagination:
  data: collections.sleepRevolution
  size: 10
---

{% include "book-page-content.njk" %}