---
title: Арианна Хаффингтон. Революция сна
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: Haffington
    ulr: haffington/sleep-revolution
    title: "{{title}}"
pagination:
  data: collections.sleepRevolution
  size: 10
---

{% include "book-page-content.njk" %}