---
title: Брюс Альбертс. Основы молекулярной биологии клетки
layout: posts.njk
eleventyNavigation:
  key: Alberts
  ulr: alberts/mol-biol
  title: "Брюс Альбертс. Основы молекулярной биологии клетки"
pagination:
  data: collections.molBiol
  size: 10
---

{% include "book-page-content.njk" %}