---
layout: posts.njk
eleventyNavigation:
  key: Alberts
  ulr: alberts/mol-biol
  title: "Брюс Альбертс. Основы молекулярной биологии клетки"
pagination:
  data: collections.molBiol
  size: 10
---

<main class="main">
  <h2 class="main__title">{{eleventyNavigation.title}}</h2>
  {%- for post in pagination.items -%}
    <article class="post">
      <h3 class="post__title">
        <a class="post__link" href="{{ post.url }}"
          >{{ post.data.title }}</a
        >
      </h3>
      {{ post.templateContent | safe }}
      <footer class="post__footer">
        <div class="post__date">
          <img
            class="post__footer-img"
            src="/images/calendar.svg"
            alt="date"
          />
          <time>{{ post.data.date.toLocaleString() }}</time>
        </div>
        <div class="post__book">
          <img class="post__footer-img" src="/images/folder.svg" alt="book" />
          {% set navPages = collections.all | eleventyNavigation %}
          {%- for entry in navPages %}
              {% if entry.title == post.data.book %}
                  <a class="post__link" href="{{ entry.url }}">{{ post.data.book }}</a>
              {% endif %}
          {%- endfor %}
        </div>
        <div class="post__label">
          {% if post.data.category %}
              <img class="post__footer-img" src="/images/label.svg" alt="label" />
              <a class="post__link" href="/categories/{{post.data.category}}">{{post.data.category}}</a>
          {% endif %}
        </div>
      </footer>
    </article>
  {%- endfor -%}
  {% include "pagination.njk" %}
  {% include "footer.njk" %}
</main>