---
title: Брюс Альбертс. Основы молекулярной биологии клетки
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: Alberts
    ulr: alberts/mol-biol
    title: "{{title}}"
pagination:
  data: collections.molBiol
  size: 10
---

{% include "book-page-content.njk" %}