---
title: Нора Галь. Слово живое и мертвое
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: NoraGal
    url: nora-gal/slovo-jivoe-mertvoe
    title: "{{title}}"
pagination:
  data: collections.slovoJivoeMertvoe
  size: 10
---

{% include "book-page-content.njk" %} 