---
title: Лев Толстой. Христианство и патриотизм
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: Tolstoy
    ulr: tolstoy/christianity-and-patriotism
    title: "{{title}}"
pagination:
  data: collections.christianity
  size: 10
---

{% include "book-page-content.njk" %}
