---
layout: posts.njk
eleventyNavigation:
  key: Glazer
  ulr: glazer/city-triumph
  title: "Эдвард Глейзер. Триумф города"
pagination:
  data: collections.cityTriumph
  size: 10
---

{% include "book-page-content.njk" %}