---
title: Эдвард Глейзер. Триумф города
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: Glazer
    ulr: glazer/city-triumph
    title: "{{title}}"
pagination:
  data: collections.cityTriumph
  size: 10
---

{% include "book-page-content.njk" %}