@import "post__book/post__book.css";
@import "post__date/post__date.css";
@import "post__footer/post__footer.css";
@import "post__label/post__label.css";
@import "post__link/post__link.css";
@import "post__paragraph/post__paragraph.css";
@import "post__title/post__title.css";
@import "post__footer-img/post__footer-img.css";
@import "post__blogquote/post__blogquote.css";

.post {
  background-color: white;
  display: grid;
  gap: 15px;
  padding-top: 15px;
}

.post p {
  padding: 0 25px;
}

/* .post details:not([open]) > p {
  padding-bottom: 15px;
} */

.post details[open] > p {
  padding-bottom: 15px;
}

.post details[open] > p:last-child {
  padding-bottom: 0;
}

.post details[open] > blockquote {
  margin-bottom: 15px;
}

.post details[open] > blockquote:last-child {
  margin-bottom: 0;
}

.post summary {
  padding: 0 25px;
  cursor: pointer;
  text-transform: uppercase;
}

.post details[open] > summary {
  padding-bottom: 15px;
}

.post blockquote {
  padding: 0 25px;
  border-left: 6px solid gray;
  font-style: italic;
}

@media only screen and (min-width: 400px) {
  .post {
    width: 86%;
  }
}

@media only screen and (min-width: 900px) {
  .post {
    max-width: 90%;
    border: 1px solid lightgray;
  }

  .post p {
    font-size: 20px;
  }

  .post blockquote {
    font-size: 20px;
  }
}
