---
title: Карл Саган. Миллиарды и миллиарды
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: Sagan
    ulr: sagan/milliardy
    title: "{{title}}"
pagination:
  data: collections.saganMilliardy
  size: 10
---

{% include "book-page-content.njk" %}