---
title: Карл Саган. Миллиарды и миллиарды
layout: posts.njk
eleventyNavigation:
  key: Sagan
  ulr: sagan/milliardy
  title: "Карл Саган. Миллиарды и миллиарды"
pagination:
  data: collections.saganMilliardy
  size: 10
---

{% include "book-page-content.njk" %}