---
layout: posts.njk
eleventyNavigation:
  key: Seung
  ulr: seung/connectome
  title: "Себастьян Сеунг. Коннектом. Как мозг делает нас тем, что мы есть"
pagination:
  data: collections.connectome
  size: 10
---

{% include "book-page-content.njk" %}