---
title: Себастьян Сеунг. Коннектом. Как мозг делает нас тем, что мы есть
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: Seung
    ulr: seung/connectome
    title: "{{title}}"
pagination:
  data: collections.connectome
  size: 10
---

{% include "book-page-content.njk" %}