---
layout: posts.njk
eleventyNavigation:
  key: Everly
  ulr: everly/stress-nature
  title: "Эверли. Розенфельд. Стресс. Природа и лечение"
pagination:
  data: collections.stressNature
  size: 10
---

{% include "book-page-content.njk" %}