---
layout: posts.njk
pagination:
  data: collections.categories
  size: 1
  alias: category
permalink: /categories/{{ category }}/
---
<ol>
{% set catList = collections.categories[ category ] %}
{% for post in catList | reverse %}
 <article>
        <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
        {{ post.templateContent | safe }}
        <footer>
        <img src="/images/calendar.svg" alt="date" />
        <time>{{ post.data.date.toLocaleString() }}</time>
        <img src="/images/folder.svg" alt="category" />
        {% set navPages = collections.all | eleventyNavigation %}
        {%- for entry in navPages %}
        {% if entry.title == post.data.book %}
            <aside><a href="{{ entry.url }}">{{ post.data.book }}</a></aside>
        {% endif %}
        {%- endfor %}
        </footer>
    </article>
    {% endfor %}
</ol>