---
eleventyComputed:
  title: "Метка: {{category}}"
layout: posts.njk
pagination:
  data: collections.categories
  size: 1
  alias: category
permalink: /categories/{{ category }}/
---

{% set catList = collections.categories[ category ] %}
<main id="main" class="main">
  <h2 class="main__title">Метка: {{category}}</h2>
    {% for post in catList | reverse %}
    <article class="post">
      <h3 class="post__title">
        <a class="post__link" href="{{ post.url }}#main">{{ post.data.title }}</a>
      </h3>
      {{ post.templateContent | safe }}
      <footer class="post__footer">
        <div class="post__date">
          <img
            class="post__footer-img"
            src="/images/calendar.svg"
            alt="date"
          />
          <time>{{ post.data.date.toLocaleString() }}</time>
        </div>
        <div class="post__book">
          <img class="post__footer-img" src="/images/folder.svg" alt="book" />
          {% set navPages = collections.all | eleventyNavigation %}
          {%- for entry in navPages %}
              {% if entry.title == post.data.book %}
                  <a class="post__link" href="{{ entry.url }}#main">{{ post.data.book }}</a>
              {% endif %}
          {%- endfor %}
        </div>
        <div class="post__label">
          {% if post.data.category %}
              <img class="post__footer-img" src="/images/label.svg" alt="label" />
              <a class="post__link" href="/categories/{{post.data.category}}#main">{{post.data.category}}</a>
          {% endif %}
        </div>
      </footer>
    </article>
  {%- endfor -%}
  {% include "footer.njk" %}
</main>