---
title: Виктор Дольник. Непослушное дитя биосферы
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: Dolnik
    ulr: dolnik/biosfera
    title: "{{title}}"
pagination:
  data: collections.biosfera
  size: 10
---

{% include "book-page-content.njk" %}