---
layout: posts.njk
eleventyNavigation:
  key: Dolnik
  ulr: dolnik/biosfera
  title: "Виктор Дольник. Непослушное дитя биосферы"
pagination:
  data: collections.biosfera
  size: 10
---

{% include "book-page-content.njk" %}