---
layout: posts.njk
eleventyNavigation:
  key: Littel
  ulr: littel/homskie-tetradi
  title: "Джонатан Литтел. Хомские тетради"
pagination:
  data: collections.homskieTetradi
  size: 10
---

{% include "book-page-content.njk" %}