---
title: Кевин Сайтс. Синдром войны
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: Sayits
    ulr: sayits/war-sindrome
    title: "{{title}}"
pagination:
  data: collections.warSindrome
  size: 10
---

{% include "book-page-content.njk" %}