---
layout: posts.njk
eleventyNavigation:
  key: Sayits
  ulr: sayits/war-sindrome
  title: "Кевин Сайтс. Синдром войны"
pagination:
  data: collections.warSindrome
  size: 10
---

{% include "book-page-content.njk" %}