---
title: Вилейанур Рамачандран. Мозг рассказывает. Что делает нас людьми
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: Rama
    ulr: rama/tale-brain
    title: "{{title}}"
pagination:
  data: collections.taleBrain
  size: 10
---

{% include "book-page-content.njk" %}