---
title: Вилейанур Рамачандран. Мозг рассказывает. Что делает нас людьми
layout: posts.njk
eleventyNavigation:
  key: Rama
  ulr: rama/tale-brain
  title: "Вилейанур Рамачандран. Мозг рассказывает. Что делает нас людьми"
pagination:
  data: collections.taleBrain
  size: 10
---

{% include "book-page-content.njk" %}