@import "post__book/post__book.css";
@import "post__date/post__date.css";
@import "post__footer/post__footer.css";
@import "post__label/post__label.css";
@import "post__link/post__link.css";
@import "post__paragraph/post__paragraph.css";
@import "post__title/post__title.css";
@import "post__footer-img/post__footer-img.css";
@import "post__blogquote/post__blogquote.css";

.post {
  background-color: white;
}

.post p {
  padding: 15px 25px;
}

.post blockquote {
  padding: 15px 25px;
  margin-left: 25px;
  border-left: 5px solid gray;
  font-style: italic;
}

@media only screen and (min-width: 400px) {
  .post {
    width: 86%;
  }
}

@media only screen and (min-width: 900px) {
  .post {
    max-width: 90%;
    border: 1px solid lightgray;
  }

  .post p {
    font-size: 20px;
  }

  .post blockquote {
    font-size: 20px;
  }
}
