main {
  background-color: white;
}

main section h2 {
  display: none;
}

main section article {
  padding-top: 7%;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}

main section article:first-child {
  border-top: 0;
}

main section article p {
  font-size: 15px;
  margin-bottom: 1.6em;
  padding-left: 7%;
  padding-right: 7%;
}

main section article blockquote {
  margin-left: 20px;
  border-left: 3px solid grey;
  font-style: italic;
}

main section article h2 {
  display: block;
  font-size: 26px;
  padding-left: 7%;
  padding-right: 7%;
  margin-bottom: 1em;
}

main section article h2 a {
  text-decoration: none;
}

main section article footer {
  display: block;
  padding: 4% 8%;
  background-color: #f7f7f7;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.7);
  border: 0;
  margin: 0;
}

main section article footer img {
  width: 16px;
  height: 16px;
}

main section article footer time {
  display: inline;
  color: inherit;
  font-family: inherit;
  margin-right: 12px;
}

main section article footer aside {
  display: inline;
  margin-right: 12px;
}

main section article footer aside a {
  color: rgba(51, 51, 51, 0.7);
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
}

@media only screen and (min-width: 400px) {
  main {
    background-color: transparent;
  }

  main section article {
    border: 1px solid rgba(51, 51, 51, 0.1);
    margin: 40px;
    background-color: white;
  }
}

@media only screen and (min-width: 800px) {
  main {
    grid-area: main;
  }

  main section article {
    padding-top: 2%;
  }

  main section article p {
    padding-left: 5%;
    padding-right: 5%;
  }

  main section article h2 {
    padding-left: 5%;
    padding-right: 5%;
  }

  main section article footer {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
