---
title: Масару Ибука. После трёх уже поздно
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: Ibuka
    ulr: ibuka/pozdno
    title: "{{title}}"
pagination:
  data: collections.ibukaPozdno
  size: 10
---

{% include "book-page-content.njk" %}