---
title: Масару Ибука. После трёх уже поздно
layout: posts.njk
eleventyNavigation:
  key: Ibuka
  ulr: ibuka/pozdno
  title: "Масару Ибука. После трёх уже поздно"
pagination:
  data: collections.ibukaPozdno
  size: 10
---

{% include "book-page-content.njk" %}