---
layout: posts.njk
eleventyNavigation:
  key: Krez
  ulr: krez/lang-for-adult
  title: "Крез. Иностранный для взрослых"
pagination:
  data: collections.langForAdult
  size: 10
---

{% include "book-page-content.njk" %}