---
title: Крез. Иностранный для взрослых
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: Krez
    ulr: krez/lang-for-adult
    title: "{{title}}"
pagination:
  data: collections.langForAdult
  size: 10
---

{% include "book-page-content.njk" %}