---
layout: posts.njk
eleventyNavigation:
  key: Markoff
  ulr: markoff/roboticus
  title: "Джон Маркофф. Homo Roboticus? Люди и машины в поисках взаимопонимания"
pagination:
  data: collections.roboticus
  size: 10
---

{% include "book-page-content.njk" %}