---
title: Джон Маркофф. Homo Roboticus? Люди и машины в поисках взаимопонимания
layout: posts.njk
eleventyComputed:
  eleventyNavigation:
    key: Markoff
    ulr: markoff/roboticus
    title: "{{title}}"
pagination:
  data: collections.roboticus
  size: 10
---

{% include "book-page-content.njk" %}