<!DOCTYPE html>
<html lang="ru">
  {% include "head.njk" %}
  <body class="body">
    {% include "sidebar.njk" %}
    <main id="main" class="main">
      <article class="post">
        <h3 class="post__title">
          <a href="#main" class="post__link">{{ title }}</a>
        </h3>
        {{ content | safe }}
        <footer class="post__footer">
          <div class="post__date">
            <img
              class="post__footer-img"
              src="/images/calendar.svg"
              alt="date"
            />
            <time>{{ date.toLocaleString() }}</time>
          </div>
          <div class="post__book">
            <img class="post__footer-img" src="/images/folder.svg" alt="book" />
            {% set navPages = collections.all | eleventyNavigation %}
            {%- for entry in navPages %}
                {% if entry.title == book %}
                    <a class="post__link" href="{{ entry.url }}#main">{{ book }}</a>
                {% endif %}
            {%- endfor %}
          </div>
          <div class="post__label">
            {% if category %}
                <img class="post__footer-img" src="/images/label.svg" alt="label" />
                <a class="post__link" href="/categories/{{category}}#main">{{category}}</a>
            {% endif %}
          </div>
        </footer>
      </article>
      {% include "footer.njk" %}
    </main>
    {% include "script.njk" %}
  </body>
</html>