---
style: "post"
---

<!DOCTYPE html>
<html lang="ru">
  {% include "head.njk" %}
  <body>
    {% include "header.njk" %}
    <main>
      <section>
        <h2>Post section</h2>
        <article>
          <h2><a href="#">{{ title }}</a></h2>
          {{ content | safe }}
          <footer>
            <img src="/images/calendar.svg" alt="date" />
            <time>{{ date.toLocaleString() }}</time>
            <img src="/images/folder.svg" alt="category" />
            {% set navPages = collections.all | eleventyNavigation %}
            {%- for entry in navPages %}
            {% if entry.title == book %}
             <aside><a href="{{ entry.url }}">{{ book }}</a></aside>
            {% endif %}
            {%- endfor %}
            {% if category %}
              <img src="/images/label.svg" alt="label" />
              <aside>
                  <a href="/categories/{{category}}">{{category}}</a>
              </aside>
            {% endif %}
          </footer>
        </article>
      </section>
    </main>
    {% include "footer.njk" %}
    <script src="/scripts/script.js" async></script>
  </body>
</html>
